button {
  color: white;
  background-color: #00bfff;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.slider .ui-slider-range{
  background: #00bfff;
}
.demoHeaders {
  text-align: center;
}

#red .ui-slider-range {
	background: #FF0000;	
}
#blue .ui-slider-range{
	background: #0000ff;
}
#green .ui-slider-range{
	background: #00ff00;
}	
.container{ 
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
#guess {
	width: 120px;
	height: 100px;
	margin-left: 15px;
	background-image: none;
} 
#target {
	width: 120px;
	height: 100px;
	margin-left: 15px;
	margin-bottom: 20px;
	background-image: none;
}

#time{
    visibility: hidden;
}
#endTime{
    visibility: hidden;
}
#board, table{
	width: 100%;
	border-collapse: collapse;
}
th, td{
	padding: 1%;
	border: 1px solid black;

}
